<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd"
>
<bean id="MessageBean" class="smaple3.MessageBeanEn"></bean>
<bean id="samsung" class="sample7.SamsungTV"></bean>
<bean id="lg" class="sample7.LgTV"></bean>
</beans>
