<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!-- factory 메소드 속성을 사용. 해당메소드를 통해서 빈객체 생성 -->
<bean id="test" class="sample3.AbstractTest" factory-method="getInstance"></bean>

</beans>
